[user]
    name = Spencer Russell
    email = spencer.f.russell@gmail.com
[push]
    default = current
[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red
    whitespace = red reverse
[core]
    autocrlf = false
    excludesfile = ~/.gitignore_global
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[merge] 
    tool = vimdiff
[mergetool "sourcetree"]
    cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
    trustExitCode = true
[alias]
    tree = log --all --graph --decorate --pretty=oneline --abbrev-commit
    subup = submodule update --init --recursive
[github]
    user = ssfrr
