[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/ssfrr/molokai.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = https://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-closure"]
	path = .vim/bundle/vim-closure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-classpath"]
	path = .vim/bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule ".vim/bundle/paredit-vim"]
	path = .vim/bundle/paredit-vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/julia-vim"]
	path = .vim/bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
[submodule ".vim/bundle/slimv.vim"]
	path = .vim/bundle/slimv.vim
	url = git@github.com:vim-scripts/slimv.vim.git
[submodule ".vim/bundle/conque-shell"]
	path = .vim/bundle/conque-shell
	url = git@github.com:vim-scripts/Conque-Shell.git
[submodule ".vim/bundle/vim-openscad"]
	path = .vim/bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule ".vim/bundle/opencl.vim"]
	path = .vim/bundle/opencl.vim
	url = https://github.com/vim-scripts/opencl.vim.git
