[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/ssfrr/molokai.git
[submodule ".vim/bundle/paredit-vim"]
	path = .vim/bundle/paredit-vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/slimv.vim"]
	path = .vim/bundle/slimv.vim
	url = git@github.com:vim-scripts/slimv.vim.git
[submodule ".zprezto"]
	path = .zprezto
	url = git@github.com:ssfrr/prezto.git
