"*":
  "atom-beautify":
    _analyticsUserId: "8884ab2f-2442-4e6b-87ab-a17cae6fb3b0"
    c_configPath: "/usr/local/bin"
  "atom-ctags":
    extraTagFiles: "tags"
  "autocomplete-bibtex":
    bibtex: [
      "/Users/srussell/Dropbox/projects/papers/MastersThesis/tex/refs.bib"
    ]
    resultTemplate: "\\cite{[key]}"
    scope: ".text.tex.latex"
  "autocomplete-ctags":
    minimumPrefixLength: 1
  "autocomplete-julia": {}
  "autocomplete-plus":
    enableAutoActivation: false
    minimumWordLength: 1
  build:
    saveOnBuild: true
    scrollOnError: true
  core:
    disabledPackages: [
      "whitespace"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "1d4865a0-72ce-c479-a193-d537d41519ae"
  "fuzzy-finder": {}
  ink:
    monotypeResults: true
  "julia-client":
    juliaPath: "julia5"
  latexer: {}
  "lcov-info":
    highlightType: "gutter"
  linter:
    showErrorPanel: false
  "markdown-preview-katex": {}
  minimap:
    absoluteMode: true
    textOpacity: 0.1
  "one-dark-ui": {}
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.plain"
      "text.git-commit"
      "text.tex.latex"
    ]
    juliaPath: "/usr/local/bin/julia"
    terminal: "x-terminal-emulator -e"
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    ignoreCaseForSearchCurrentWord: true
    incrementalSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "txt"
      "markdown"
      "tex"
    ]
  zentabs:
    neverCloseUnsaved: true
".asciidoc.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".gfm.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".latex.tex.text":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
