"*":
  "exception-reporting":
    userId: "1d4865a0-72ce-c479-a193-d537d41519ae"
  welcome:
    showOnStartup: false
  core:
    excludeVcsIgnoredPaths: false
  editor:
    invisibles: {}
    fontSize: 13
    tabLength: 4
    scrollPastEnd: true
  minimap:
    textOpacity: 0.1
    absoluteMode: true
  build:
    saveOnBuild: true
    scrollOnError: true
  "fuzzy-finder": {}
  "vim-mode":
    useSmartcaseForSearch: true
    useClipboardAsDefaultRegister: true
  "autocomplete-plus":
    minimumWordLength: 1
    enableAutoActivation: false
  "atom-ctags":
    extraTagFiles: "tags"
  "autocomplete-ctags":
    minimumPrefixLength: 1
  "atom-beautify":
    _analyticsUserId: "8884ab2f-2442-4e6b-87ab-a17cae6fb3b0"
    c_configPath: "/usr/local/bin"
  linter:
    showErrorPanel: false
  zentabs:
    neverCloseUnsaved: true
  "markdown-preview-katex": {}
  "tree-view": {}
  wordcount:
    extensions: [
      "md"
      "txt"
      "markdown"
      "tex"
    ]
  "autocomplete-bibtex":
    resultTemplate: "\\cite{[key]}"
    bibtex: [
      "/Users/srussell/Dropbox/projects/papers/MastersThesis/tex/refs.bib"
    ]
    scope: ".text.tex.latex"
  "autocomplete-julia":
    juliaPath: "/usr/local/bin/julia"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.plain"
      "text.git-commit"
      "text.tex.latex"
    ]
    juliaPath: "/usr/local/bin/julia"
    terminal: "x-terminal-emulator -e"
  "autocomplete-julia": {}
