# Your keymap
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# 'atom-text-editor':
#   'enter': 'editor:newline'
#
# 'atom-workspace':
#   'ctrl-shift-p': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
# You can find more information about keymaps in these guides:
# * https://atom.io/docs/latest/using-atom-basic-customization#customizing-key-bindings
# * https://atom.io/docs/latest/behind-atom-keymaps-in-depth
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson


'atom-text-editor.vim-mode-plus.normal-mode':
  'ctrl-t': 'symbols-view:return-from-declaration'
  ': w enter': 'core:save'
  ': q enter': 'core:close'
  ': v s enter': 'pane:split-right'
  ': s p enter': 'pane:split-down'
  'Z Z': 'custom:save-and-close'
  '/': 'find-and-replace:show'
  'g q': 'autoflow:reflow-selection'

'atom-text-editor.vim-mode-plus.visual-mode':
  'g q': 'autoflow:reflow-selection'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g q': 'autoflow:reflow-selection'
  's': 'vim-mode-plus:surround-smart-word'
  's d': 'vim-mode-plus:delete-surround-any-pair'
  's c': 'vim-mode-plus:change-surround-any-pair'
  's y': 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus':
  'ctrl-n': 'autocomplete-plus:activate'

'atom-text-editor:not(mini).autocomplete-active !important':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'
  'down': 'core:move-down'
  'up': 'core:move-up'

'atom-text-editor':
  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'cmd-j cmd-f': 'julia-client:work-in-file-folder'
  'ctrl-j ctrl-f': 'julia-client:work-in-file-folder'
  'cmd-j cmd-c': 'julia-client:toggle-console'
  'ctrl-j ctrl-c': 'julia-client:toggle-console'
  'cmd-l cmd-l': 'lcov-info:toggle'
  'ctrl-l ctrl-l': 'lcov-info:toggle'

'atom-text-editor.vim-mode.visual-mode':
  'ctrl-r': 'core:redo'

'atom-workspace':
  'ctrl-shift-t': 'terminal-status:toggle'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-[': 'unset!'
  'ctrl-enter': 'hydrogen:run'

'.ink-console atom-text-editor:not([mini])':
  'down': 'console:next-in-history'
  'up': 'console:previous-in-history'
  'ctrl-j': 'console:clear-console'
